* { margin: 0; padding: 0; }

details summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; height: 0%}
  100%  {opacity: 1; height: 100%}
}

.social-area {
  width: 30%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.social-area a {
  color: inherit;
}

@media screen and (max-width: 769px) {
  .social-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
  }
}

.cv-contents {
  box-sizing: border-box;
  background-color: lightgray;
  padding: 1rem;
}

.cv-contents blockquote+h3 {
  margin-top: 1rem;
}

.cv-contents h2+h3 {
  margin-top: 1rem;
}

.cv-contents h2, .cv-contents h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cv-contents h2 {
  font-size: 1.5rem;
}

.cv-contents ul {
  width: 100%;
  list-style: circle;
  list-style-position: inside;
}

.cv-contents li {
  width: 100%;
}

.cv-contents li p {
  display: inline;
}

.cv-contents h1,
.cv-contents h2,
.cv-contents h3,
.cv-contents h4 {
  font-weight: bold;
}
